@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 25px;">Welcome to the website of the construction company "Ukrainian house".</h1>

    <img style="height: 750px; width: 1200px; margin-top:50px; " src="~/Images/UkrainianHouse.jpg" alt="Flowers in Chania">
    <p style="font-size :20px;margin-top:50px;">
        We hope you find what you need here.
        Before using the site, please read the <a href="./Privacy" class="elements">Privace Policy</a>.
    </p>
</div>
